
@if (!emailSent) 
{
    <div class="w-10/12 mx-auto">
        <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" class="mt-6">
            @if (errMsg) 
            {
                <div class="p-4 mb-4 mt-5 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <p>Error: {{errMsg}}</p>
                </div>
            }
        
            <div class="my-3">
                <label for="email">Email:</label>
                <input type="email" id="email" class="w-full rounded-lg border-gray-500 mt-2" formControlName="email">
                @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) 
                {
                    <div class="p-4 mb-4 mt-5 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if (emailForm.get('email')?.getError('required')) 
                        {
                            <p>Email is required</p>
                        }
                        @if (emailForm.get('email')?.getError('email')) 
                        {
                            <p>Email is invalid</p>
                        }
                    </div>
        
                }
            </div>
        
        
        
            <div class="flex justify-between align-middle">
                <button [disabled]="emailForm.invalid" class="btn-main block ms-auto">
                    Next
                    @if(loading)
                    {
                        <i class="fa-solid fa-spin fa-spinner"></i>
                    }
                </button>
            </div>
            
            
        </form>
    </div>
}

@if(emailSent && !codeSent && !resetDataSent)
{
    <div class="w-10/12 mx-auto">
        <form [formGroup]="codeForm" (ngSubmit)="sendCode()" class="mt-6">
            @if (errMsg) 
            {
                <div class="p-4 mb-4 mt-5 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <p>Error: {{errMsg}}</p>
                </div>
            }
        
            <div class="my-3">
                <label for="code">Code:</label>
                <input type="text" id="code" class="w-full rounded-lg border-gray-500 mt-2" formControlName="resetCode">
                @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) 
                {
                    <div class="p-4 mb-4 mt-5 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if (codeForm.get('resetCode')?.getError('required')) 
                        {
                            <p>Code is required</p>
                        }
                        @if (codeForm.get('resetCode')?.getError('resetCode')) 
                        {
                            <p>Code is invalid</p>
                        }
                    </div>
        
                }
            </div>
        
        
        
            <div class="flex justify-between align-middle">
                <button [disabled]="codeForm.invalid" class="btn-main block ms-auto">
                    Next
                    @if(loading)
                    {
                        <i class="fa-solid fa-spin fa-spinner"></i>
                    }
                </button>
            </div>
            
            
        </form>
    </div>
}


@if(emailSent && codeSent && !resetDataSent)
{
    <div class="w-10/12 mx-auto">
        <h2 class="text-main" >Reset Email & Password:</h2>
        <form [formGroup]="resetDataForm" (ngSubmit)="resetData()" class="mt-6">
            @if (errMsg) 
            {
                <div class="p-4 mb-4 mt-5 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <p>Error: {{errMsg}}</p>
                </div>
            }
    
            <div class="my-3">
                <label for="email">Email:</label>
                <input type="email" id="email" class="w-full rounded-lg border-gray-500 mt-2" formControlName="email">
                @if (resetDataForm.get('email')?.errors && resetDataForm.get('email')?.touched) 
                {
                    <div class="p-4 mb-4 mt-5 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if (resetDataForm.get('email')?.getError('required')) 
                        {
                            <p>Email is required</p>
                        }
                        @if (resetDataForm.get('email')?.getError('email')) 
                        {
                            <p>Email is invalid</p>
                        }
                    </div>
    
                }
            </div>
    
    
    
            <div class="my-3">
                <label for="password">Password:</label>
                <input type="password" id="password" class="w-full rounded-lg border-gray-500 mt-2" formControlName="newPassword">
                @if (resetDataForm.get('newPassword')?.errors && resetDataForm.get('newPassword')?.touched) 
                {
                    <div class="p-4 mb-4 mt-5 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if (resetDataForm.get('newPassword')?.getError('required')) 
                        {
                            <p>newPassword is required</p>
                        }
                        @if (resetDataForm.get('newPassword')?.getError('pattern')) 
                        {
                            <p>newPassword is invalid</p>
                        }
                    </div>
                }
            </div>
            <div class="flex justify-between align-middle">
                <button [disabled]="resetDataForm.invalid" class="btn-main block ms-auto">
                    Login
                    @if(loading)
                    {
                        <i class="fa-solid fa-spin fa-spinner"></i>
                    }
                </button>
            </div>
            
            
        </form>
    
    </div>
}