
<div>
    <div class="my-3 w-3/4 mx-auto mb-8 ">
        <input type="text" placeholder="Search..." [(ngModel)]= "searchTerm" id="details" class="w-full rounded-lg border-gray-500 mt-2">
    </div>
    
</div>


<div class="w-10/12 mx-auto flex flex-wrap">
    @for (product of productList | filter: searchTerm; track $index) 
    {
        <div class="md:w-1/4 cursor-pointer  p-2" [title]="product.title">
            <div class="product flex flex-col justify-between p-3">
                <div [routerLink]="['/product-details',product._id]" >
                    <img [src]="product.imageCover" class="w-full" alt="">
                    <h3 class="text-main font-extrabold">{{product.category.name}}</h3>
                    <h2>{{product.title.split(' ',3).join(' ')}}</h2>
                    <div class="flex justify-between">
                        <span>{{product.price}}EGP</span>
                        <span>
                            @if(data.includes(product.id))
                            {
                                <i  class="fa-solid text-[30px] hover:text-black text-red-600 transition duration-200 cursor-pointer ease-linear  fa-heart" (click)="removeProductFromWishlist(product._id, $event)"></i>
                            }
                            @if (!data.includes(product.id)) 
                            {
                                <i  class="fa-solid text-[30px] hover:text-red-600 transition duration-200 cursor-pointer ease-linear  fa-heart" (click)="addProductToWishlist(product._id, $event)"></i>
                            }
                            
                            {{product.ratingsAverage}}
                            <i class="fa-solid fa-star rating-color"></i>
                        </span>
                    </div>
                </div>
                <button class="btn-main mt-3 w-full" (click)="addProduct(product._id)">Add Product
                    @if (isloading) 
                    {
                        <i class="fa fa-spin fa-spinner"></i>
                    }
                    
                </button>
                
            </div>
        </div>
    }
    

</div>