.main-img img
{
    height: 400px;
}
.second-img img
{
    height: 200px;
}
.btn
{
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .card {
      width: 50%;
    }
      
}
@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }
    
}